
.grey {
	background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.19) 49%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.5) 100%); 

}

.groupRow {
	margin-top: 10px;
	margin-bottom: 10px;
}

.groupHead {
	text-align: center;
	margin-bottom: -5px;
}

.groupContent {
	margin-left: 200px;
}

.video {
	background-color: rgba(0,0,0,0.05);
	border: 1px solid rgba(0,0,0,0.2);
	height: 312px;
	width: 566px;
	float: left;
}
.section {
	float: left;
	min-height: 58px;
	width: 472px;
	margin-bottom: 6px;
}
.section:hover {
	background-color: rgba(0,0,0,0.05);
/*	border-top: 1px solid rgba(0, 0, 0, .25);
	border-bottom: 1px solid rgba(0, 0, 0, .25);*/
}
.keyframe {
	float: left;
	margin-left: 10px;
	height: 58px;
	width: 87px;
	background-color: lavender;
}
.caption {
	font-family: helvetica;
	float: left;
	margin-left: 10px;
	width: 355px;
	font-size: 12px;
}