@import url(http://weloveiconfonts.com/api/?family=iconicfill);

/***************/
/* general css */
/***************/

* {
    box-sizing: border-box;
    color: #3C3C3C;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

body {
    font-size: 13px;
    height: 500px;
    width: 100%;
    min-width: 1250px;
    overflow-y: hidden;
}

[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}

[contentEditable=true]:empty:before{
  content: attr(data-ph);
  color: #888;
  font-style: italic;
}


/********************/
/* editor-level css   */
/********************/
.editor-wrap {
    height: inherit;
}


/********************/
/* digest-level css */
/********************/

.digest-title-wrap {
    text-align: center;
    font-size: 24px;
    color: #645C6F;
    font-weight: normal;
    text-align: center;
    min-width: 200px;
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}
.digest-title-wrap:focus {
    outline: 0;
}
.digest-title-wrap h1{
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.digest-wrap {
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    width: 780px;
    height: inherit;
    padding-left: 10px;
    background: rgba(255,255,255,1);
    border-right: 1px solid #E0E0E0;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(247, 248, 255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(247, 248, 255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(247, 248, 255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(247, 248, 255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(247, 248, 255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(247, 248, 255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f6ff', GradientType=1 );
}

.digest-chapters-wrap {
    margin-top: 12px;
}


/*************************/
/* chapter-level css     */
/************************/

.chapter {
    position: relative;
    margin-bottom: 50px;
    width: inherit;
}

.chapter-header {
    background-color: none;
    height: 30px;
    display: inline-block;
    width: 85%;
}
.chapter-header input {
    outline: none;
    width: 110%;
    font-size: 20px;
    border: none;
    overflow: hidden;
    background-color: inherit;
    margin-left: 20px;
    position: relative;
    bottom: 3px;
    color: #645C6F;
}
.chapter-header:hover {
    opacity: 1;
}

.video-column {
    width: 306px;
    margin-left: 5px;
    margin-right: 21px;
}
.video-column video {
    box-shadow: 1px 1px 18px -1px #333333;
}

.summary-column {
    position: relative;
    width: 53%;
    padding-left: 76px;
}

.section-row {
    padding-bottom: 8px;
    position: relative;
}

.keyframe-col {
    width: 68px;
    height: 50px;
    margin-left: 15px;
    border-radius: 3px;
    border: none;
}

.keyframe-col:empty {
    border: 1px dashed #A3A1A1;
    background-image: url('../img/camera-icon-2.png');
    background-size: 59px 43px;
    background-repeat: no-repeat;
    background-position: 5px 3px;
}


/*************************/
/* section level css     */
/************************/
.blendTextarea .abs-summary {
    width: 282px;
    border: none;
    border-radius: 4px;
    margin-left: 89px;
    font-size: 10px;
    min-height: 50px;
    top: 2px;
    position: relative;
    border: 1px dashed;
    border-color:  rgba(163,161,161,0);
}

.blendTextarea .abs-summary:empty, .blendTextarea .abs-summary:focus, .blendTextarea .abs-summary:hover, .blendTextarea.show-border .abs-summary, .section-row:hover .abs-summary{
    border-color:  rgba(163,161,161,1);
}
.blendTextarea .abs-summary:empty {
    padding: 3px 4px;
}

.section-thumbnail {
    position: relative;
    border: 1px solid #555555;
    right: 15px;
    top: 2px;
    height: 50px;
}

.take-thumbnail-image {
    cursor: pointer;
    color: #444444;
    background-color: white;
    font-size: 11px;
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 0px 3px;
    margin: 0;
    position: absolute;
    left: 40.5px;
    top: 42px;
    display: none;
}

.take-thumbnail-image:hover, .keyframe-col:hover + .take-thumbnail-image {
    display: block;
}

.remove-section {
    display: none;
    position: absolute;
    top: -10px;
    right: -13px;
    font-size: 18px;
    color: #555555;
    cursor: pointer;
}
.remove-section:hover {
    color: rgb(224, 9, 9);
}
.section-row:hover .remove-section {
    display: block;
}


/*************************/
/* transcript-level css */
/************************/

.transcript-wrap {
    padding-top: 5px;
    line-height: 16px;
    height: inherit;
    background-color: white;
    overflow: scroll;
}
.transcript-wrap *::selection {
	background: rgb(253, 255, 195);
	}

.transcript-wrap *::-moz-selection {
	background: rgb(253, 255, 195);
}

/** transcript scrollbar style **/
.jspTrack {
    background-color: rgb(232, 234, 246);
}

.jspDrag {
    background-color: rgb(184, 189, 216);
}

.start-chapter-scroll-marker, .start-section-scroll-marker {
    position: absolute;
    right: 0;
    width: 16px;
    height: 3px;
}
.start-chapter-scroll-marker {
    background-color: red;
}
.start-section-scroll-marker {
    background-color: blue;
}

/****/

.transcript-words {
    float: left;
    background-color: white;
    padding-right: 1em;
    max-width: 650px;
}

.transcript-words p {
    font-size: 10pt;
    margin-bottom: 0;
    padding: 0 10px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    cursor: default;
}

.transcript-words p + p {
    padding-top: 20px;
}

/* so clicking near the word activates the word */
.word {
    padding: 5px 0;
}
.word:hover {
    color: #BBBBBB;
}

.word-highlight {
    background: rgb(255, 255, 111);
}

.start-section-marker {
    width: 10px;
    height: 10px;
    background-color: blue;
    display: inline-block;
}

.start-chapter-marker {
    width: 5px;
    height: 14px;
    background-color: red;
    display: inline-block;
    margin-right: 13px;
}
.start-chapter-marker:after {
    content: "";
    margin-left: 6px;
    height: 10px;
    width: 10px;
    background-color: blue;
    display: inline-block;
}

.drag-chapter-word {
    color: red;
}
.drag-section-word {
    color: blue;
}

.blink-me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 3;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


/** ASSORTED OTHER CSS */
input[type=file] {
    display:block;
    height:0;
    width:0;
    position: absolute;
    top: 0;
}
