<div class="col-xs-3 keyframe-col"><% if (thumbnail){%><img class="section-thumbnail" src="<%=thumbnail.get("data")%>"><%}%></div>
<div class="take-thumbnail-image iconicfill-camera"></div>

<div class="blendTextarea">
  <div class="abs-summary" contenteditable="true" data-ph="provide a summary of the corresponding video segment"><%-summary%></div>
</div>

<div class="remove-section iconicfill-x-alt"></div>
